@font-face {
    font-family: 'LinuxLibertineORegular';
    src: url('fonts/linlibertine_re-4.7.5ro-webfont.eot');
    src: url('fonts/linlibertine_re-4.7.5ro-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/linlibertine_re-4.7.5ro-webfont.woff') format('woff'),
         url('fonts/linlibertine_re-4.7.5ro-webfont.ttf') format('truetype'),
         url('fonts/linlibertine_re-4.7.5ro-webfont.svg#LinuxLibertineORegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSerifCondensed';
    src: url('fonts/DejaVuSerifCondensed-webfont.eot');
    src: url('fonts/DejaVuSerifCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DejaVuSerifCondensed-webfont.woff') format('woff'),
         url('fonts/DejaVuSerifCondensed-webfont.ttf') format('truetype'),
         url('fonts/DejaVuSerifCondensed-webfont.svg#DejaVuSerifCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerifItalic';
    src: url('fonts/DroidSerif-Italic-webfont.eot');
    src: url('fonts/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSerif-Italic-webfont.woff') format('woff'),
         url('fonts/DroidSerif-Italic-webfont.ttf') format('truetype'),
         url('fonts/DroidSerif-Italic-webfont.svg#DroidSerifItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  background: #9BA2B0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a, a:visited {
  color: #525152;
  text-decoration: none;
  border-bottom: 1px dashed #aaa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'LinuxLibertineORegular', georgia, serif;
}

body {
  -moz-box-shadow: 0 0 5px 2px #aaa;
  -webkit-box-shadow: 0 0 5px 2px #aaa;
  box-shadow: 0 0 5px 2px #aaa;
  background: white;
  color: #525152;
  font-family: Cambria, georgia, serif;
  margin: 1em auto;
  padding: 5em 10%;
  width: 37.5em;
}

header {
  border-bottom: 1px solid #666;
  text-align: center;
}

strong, b {
  font-weight: bold;
}

header > h1 {
  display: block;
  font-size: 3.5em;
}

header > h2 {
  font-size: 1.5em;
}

.contacts {
  font-size: 1em;
  margin: 1em auto;
}

.contacts li {
  height: 1.5em;
}

.contacts .social > li {
  display: inline;
  margin-left: .5em;
}

.contacts .social > li:before {
  color: #6f98b4;
  content: '• ';
}

.contacts address {
  margin: .5em 0;
}

section {
  margin: 2em 0;
}

section > h1 {
  color: #6f98b4;
  font-family: 'DejaVuSerifCondensed', georgia, serif;
  font-size: 1.2em;
}

section > article {
  padding: .4em 0;
}

article > p {
  margin: .6em 0;
}

section > .content {
  border-top: 2px solid #cdcdcd;
  border-bottom: 2px solid #cdcdcd;
  margin: .5em 0;
}

ol.timeline > li > .date {
  float: left;
}

section.expertise > div.content {
  padding-bottom: 1em;
}

section.expertise > div.content > ul {
  margin: .5em 0;
}

section.expertise > div.content > ul > li {
  list-style-type: disc;
  padding: .4em 0;
}

ol.timeline > li > div.entry {
  margin-left: 10em;
}

ol.timeline > li:first-child {
  border-top: none;
  margin-top: 0.5em;
}

ol.timeline > li:last-child {
  margin-bottom: 0.5em;
}

ol.timeline > li {
  border-top: 1px solid #cdcdcd;
  list-style: none;
  font-size: 1em;
  line-height: 1.2em;
  padding: .4em 0;
}

div.entry > address {
  font-family: 'DroidSerifItalic', georgia, serif;
  font-size: .8em;
}

footer {
  font-style: italic;
  margin-top: 1em;
}

@media (max-device-width: 600px) {
  body {
    font-size: 80%;
    margin: 0;
    width: auto;
  }

  ol.timeline > li > .date {
    max-width: 4.8em;
    text-align: right;
  }

  ol.timeline > li > div.entry {
    margin-left: 5.8em;
  }

  span.nowrap {
    white-space: nowrap;
  }

  span.nowrap:before {
    content: '\a';
  }
}

@media print {
  a, a:visited {
    border-bottom: none;
  }

  body {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  section.experience,
  section.education {
    page-break-before: always;
  }
}